.title {
  align-self: center;

  color: rgb(54, 54, 54);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.content {
  width: 45rem;
  height: 25rem;

  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 10px rgba(180, 180, 180, 0.555);

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-logar {
  width: 8rem;
  height: 3rem;

  font-size: 12pt;
  align-self: center;

  margin-top: 2rem;

  background-color: #2F80CB;
  color: white;

  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  outline: none;
}

input {
  width: 40rem;
  padding: .8rem;

  font-size: 12pt;
  color:rgb(71, 71, 71);
  text-indent: .5rem;

  align-self: center;

  border-radius: 8px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
}

label {
  width: 40rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem;

  font-size: 14pt;
  font-weight: 500;
  text-indent: .5rem;

  align-self: center;
}


